h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
}
h2{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
}
h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}
h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
h6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
}
.closeOrder{
    display:none;
}
.icon{
    background-color: green;
    color:white;
    display: none;
    border-radius: 7.5px;
}
.white{
    color:white;
}
.black{
    color: #333333;
}
body{
    margin-left:25px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #E5E5E5;
}
.header{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 92px;
    padding:10px;
    width: 100%;
    padding-left: 25px;
    position: fixed;
    top:0;
    left:0;
    background-color: #CF2B2B;
    z-index: 1;
}
.options{
    display: flex;
    overflow-x: scroll;
}

.foodBox{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    margin:5px;
    margin-left: 0px;
    border: 5px solid white;
    box-sizing: border-box;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.textBlock{
    display:flex; 
    justify-content: space-between;

}
.foodBox div{
    width:90%;
    align-items: initial;
    justify-content: space-between;
    align-items: space-between;
}
.foodBox h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.foodBox Img{
    width: 144px;
    height: 87px;
    border-radius:4px;
}
.seleciona{
    width: 15px;
    height: 15px;
    border-radius: 5px;
}
.bottomBar{
    display: flex;
    box-sizing: border-box;
    height: 92px;
    padding:10px;
    width: 100%;
    position: fixed;
    bottom:0px;
    left:0;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.bottomBar div{
    box-sizing: border-box;
    width: 95%;
    padding:10px;
    border-radius: 50px;
    background-color: #CBCBCB;
}